body {
    max-width: 1200px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    max-width: 1200px;
}
.wrapper .title {
    display: flex;
    order: -1;
    margin-top: 10px;
    margin-left: 20px;
}
.logo{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.carousel-indicators li {
    height: 20px;
    margin-right: 20px;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
}
.nav-item {
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 768px) {
  #about-school, #objectives, #theme, #schedule {
    font-size: 20px;
    }
    h1 {
        font-size: 30px;
    }
    .subcontact {
        font-size: 20px;
    }
    #request legend {
        font-size: 20px;
    }
    #about-school img {
        height: 350px;
    }
    form .send {
        font-size: 20px;
    }
    .wrapper {
        height: 150px;
    }
    .wrapper .title {
        font-size: 3rem;
    }
    .logo {
        width: 120px;
        height: 80px;
    }
}
#about-school, #objectives, #theme, #schedule {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 20px auto 0 auto;
}
h1 {
    padding-left: 20px;
    margin-top: 0; 
}
#contacts {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 10px auto 0 auto;
}
.subcontact, .map {
    margin-top: 40px;
    margin-bottom: 20px;
}
.footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.footer img {
    margin-right: 20px;
    margin-top: 5px;
}










